@{
    ViewData["Title"] = "Tạo Area";
    var total = (int)ViewBag.AreaTotal;
    var farmId = (int)ViewBag.FarmId;
    var statusList = (List<string>)ViewBag.AreaStatusList;
    var waterList = (List<string>)ViewBag.TypeOfWaterList;
}

<h2>Nhập thông tin cho @total khu vực</h2>
<form asp-action="CreateAreas" method="post">
    @for (int i = 0; i < total; i++)
    {
        <fieldset>
            <legend>Area @(i + 1)</legend>
            <input name="[@i].FarmId" type="hidden" value="@farmId" />
            <label>Tên khu vực:</label>
            <input name="[@i].AreaName" />

            <label>Trạng thái:</label>
            <select name="[@i].AreaStatus">
                @foreach (var status in statusList)
                {
                    <option value="@status">@status</option>
                }
            </select>

            <label>Diện tích:</label>
            <input name="[@i].AreaSize" type="number" />

            <label>Loại nước:</label>
            <select name="[@i].TypeOfWater">
                @foreach (var type in waterList)
                {
                    <option value="@type">@type</option>
                }
            </select>
        </fieldset>
    }
    <button type="submit">Hoàn tất</button>
</form>